<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shitOut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DE889F21EF2FE89005AB175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE88A061EF2FE8A005AB175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE88A111EF2FE8A005AB175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
